@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Burialmain

<div>
    <ul>
        {@*Textile color*@}
        {@*Textile structure*@}
        <li>Sex: @Model.Sex</li>
        <li>Burial Depth: @Model.Depth</li>
        {@*Estimate Stature*@}
        <li>Age at Death: @Model.Ageatdeath</li>
        <li>Head Direction: @Model.Headdirection</li>
        <li>Burial ID: @Model.Id</li>
        {@*Textile function*@}
        <li>Hair Color: @Model.Haircolor</li>
    </ul>
</div>